{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"singleQuote": true,
	"jsxBracketSameLine": true,
	"htmlWhitespaceSensitivity": "css",
	"trailingComma": "all",
	"arrowParens": "avoid"
}
